{% extends "layout.html" %}
{% block content %}
{% for n in content.items%}
<article class="media content-section">
      <ul>
        <ol><b>name: {{n["name"]}}</b></ol>
        <ol>posted: {{n["posted"]}}</ol>
        <ol>price: {{n["price"]}}</ol>
        <ol><a href=" {{n["link"]}}", target="_blank">link</a></ol>
        <ol>location: {{n["location"]}}</ol>
      </ul>
</article>
{% endfor %}

{% for page_num in content.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
{% if page_num %}
  {% if content.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
{% else %}
 <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
 ...
{% endif %}
{% endfor %}
{% endblock content%}